@{
    ViewBag.Title = "Vidly";
}

<div class="parallax">
    @*<img src="../content/images/Chicago_Theater.jpg" ;/>*@
</div>

    <div class="row">
        <div class="col-lg-6">
            <p>
                Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per,
                postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea,
                eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at.
                Id viris docendi denique vim.
            </p>

        </div>
    </div>
    <div class="col-lg-6">
        <p>
            Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per,
            postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea,
            eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at.
            Id viris docendi denique vim.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>
                Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per,
                postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea,
                eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at.
                Id viris docendi denique vim.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>
                Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per,
                postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea,
                eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at.
                Id viris docendi denique vim.
            </p>

        </div>
    </div>

