@{
    ViewBag.Title = "Vidly";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
    <body>
        
            <div class="banner">
                
                <tt></tt>
            </div>
       
    </body>
</html>


